<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/306d0ced-b01e-4734-8137-54fa2ec6e8e1/resourceGroups/ContainerRegister/providers/Microsoft.ContainerRegistry/registries/BeautyscRegistry</ResourceId>
    <ResourceName>BeautyscRegistry</ResourceName>
    <ResourceGroup>ContainerRegister</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://beautyscregistry.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>85e223e6-f345-435b-8b9c-286d3d5480bf</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>